@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
/* CSS One More Check
Foursquare Hackaton / SPOKE */


*{margin:0; padding:0;}

/* BASICS */
/* ------------------------------------------- */

body {
	background:#FFFFFF url(../images/fond.jpg) no-repeat center top;
	font-family:'Nunito',Helvetica,Arial;
	font-size: 14px;
	color:#555555;
	}

h1 {font-size: 30px; color:#006db7;}
h2 {font-size: 22px; color:#006db7;}
h3 {font-size: 16px; font-weight:bold; color:#555555;}
h4 {font-size: 10px;}


img{ border: none; padding:0; }
img a{border:none;}

a{
	color:#006db7;
	text-decoration:underline;
	outline: none;
	}

a:hover{color:#0a91ec}


a.lienblanc{color:#ffffff; text-decoration:none}


.clear {
clear:both;
}



/* BLOCKS */
/* ------------------------------------------- */

#graybox {
background:#eeeeee url(../img/bandeheader.png) repeat-x center top;
width:100%;
height:35px;
}

#logo {
margin-top:110px;
}

#global {
width:850px;
text-align:center;
margin:-24px 0 0 0;
}

#footer {
width:850px;
text-align:left;
margin:-220px 0 0 0;
color:#FFFFFF;
font-weight:bold;
font-size:12px;
}



#btn_discover{
background:url(../img/btn_discover-off.png) no-repeat;
float:left;
width:125px;
height:31px;
}

#btn_contact{
background:url(../img/btn_contact-off.png) no-repeat;
margin-left:5px;
float:left;
width:100px;
height:31px
}

#btn_discover:hover{ 
background:url(../img/btn_discover-roll.png) no-repeat;
}

#btn_contact:hover{ 
background:url(../img/btn_contact-roll.png) no-repeat;
}


#bluebox{width:100%; background:#00bae2; height:235px;}

.btn_4qs {
margin-left:250px;
margin:30px 0 50px 250px;
}

.btn_4qs, .btn_4qs a {  
    background: url(../img/btn_4sq-connect.png) 0 -45px no-repeat;  
    height:45px;  
    width:338px;  
    display:block;  
}  
.btn_4qs a {  
    background-position: 0 0;  
}  