@charset "utf-8";

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url('../style/fonts/kpI87QY2ce-mk2ZnKb-r0g.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito-Bold'), url('../style/fonts/TttUCfJ272GBgSKaOaD7KqCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
}


/* CSS One More Check - Foursquare Hackaton / SPOKE */

/*
 * Base
 */

*{
	margin:0;
	padding:0;
}

body {
	background:#FFFFFF;
	font-family:'Nunito', Helvetica, Arial;
	font-size: 14px;
	color:#555555;
	width: 100%;
/*	left: 50%;
	position: absolute;
	margin-left: -425px;*/
	text-align: center;
}

h1 {
	font-size: 20px; 
	color:#006db7;
}

h2 {
	font-size: 17px;
	color:#555555;
	clear: both;
}

h3 {
	font-size: 16px;
	font-weight:bold;
	color:#555555;
	text-align: left;
}

h4 {
	font-size: 10px;
}


img{
	border: none;
	padding: 0;
}

img a{
	border:none;
}

a{
	color:#006db7;
	text-decoration:underline;
	outline: none;
}

a:hover{
	color:#0a91ec;
	cursor: pointer;
}


a.lienblanc{
	color:#ffffff;
	text-decoration:none;
}

.clear {
	clear:both;
}

/**
 * Widgets
 */


/**
 * Generic style for all "on the top" widgets, meant to override the complete UI
 */
.top-widget{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9) no-repeat center 200px;
	text-align: center;
	padding-top: 50%;
	z-index: 1000;
}

.social-buttons {
	padding-top:25px;
}
/**
 * Style to apply on body when top widgets are displayed as to avoid scrollish crap
 */
body.top-widgetted {
	overflow: hidden;
}

/**
 * Specific style for the top widget "loader"
 */
#loader-widget{
	background-image: url(../img/loading.gif);
	display: none;
}

/**
 * Specific style for the top widget "error" - starts hidden obviously
 */
#error-widget{
	background-image: url(https://playfoursquare.s3.amazonaws.com/badge/114/crunked.png);
	display: none;
}






/*
 * Blocks
 */





.btn_4qs {
	margin-left:250px;
	margin:30px 0 50px 250px;
}

.btn_4qs, .btn_4qs a {  
	background: url(../img/btn_4sq-connect.png) 0 -45px no-repeat;  
	height:45px;  
	width:338px;  
	display:block;  
}  

.btn_4qs a {  
	background-position: 0 0;  
}  





/**
 * Prompt thing
 */

#prompt-content {
	background:#eeeeee url(../img/bandeheader.png) repeat-x center top;
}

#prompt-content > div{
	width: 850px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 500px;
	height:20px;
	padding-top: 15px;
}

#prompt-content > div > div:first-child{
	padding-top: 100px;
}

/**
 * The bottom stats info thingie
 */

#box_stats {
	background: #f9f9f9;
	margin: 0 0 20px 0;
	border: 1px solid #d9d9d9;
	padding: 20px 10px 10px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 120px;
	text-align: center;
}


/**
 * The three main sections inside, floating stacked on left
 */

#box_stats div{
	float: left;
	width: 200px;
}

#box_stats div:last-child {
	background: url(../img/checkbig.png) no-repeat;
	width: 129px;
	height: 122px;
	float: right;
}

/**
 * Detailed trixing inside
 */

#box_stats li {
	margin-top: 3px;
	list-style-type: none;
	list-style-position: inside;
	text-align: left;
	padding: -20px 0 0 0;
	height: 21px;
}

#box_stats li span{
	vertical-align: top;
}

#box_stats li span > span{
	font-weight: bold;
	color: #555555;
}

#box_stats li#icocheck {
	list-style-image:url(../img/ico_check.png);
}

#box_stats li#icostar {
	list-style-image:url(../img/ico_star.png);
}

#box_stats li#icocouronne {
	list-style-image:url(../img/ico_couronne.png);
}

/**
*  NAvigation
*/

#navigation {
	display: inline;
    float: left;
    width: 393px;
    padding:0px;
	border:1px solid #bbbbbb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;

	background-image: linear-gradient(bottom, rgb(240,240,240) 3%, rgb(217,217,217) 51%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(217,217,217) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(217,217,217) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(217,217,217) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 3%, rgb(217,217,217) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(240,240,240)),
		color-stop(0.51, rgb(217,217,217))
	);

	position:relative;
	margin-bottom:40px;
	margin-top:10px;
	border-bottom:none;
}

#navigation > li {
	display: inline;
    float: left;
    text-align: center;
    width: 96px;
    border-right:1px solid #a3a3a3;
    border-left:1px solid #e6e6e6;
}

#navigation > li:last-child {
	border-right:none!important;	
	width:98px;
}

#navigation > li:first-child {
	border-left:none!important;	
}

#navigation > li > a {
	color: #828282;
    float: left;
    padding: 10px 0;
    width: 100%;
    text-decoration:none;
}

#navigation > li:hover a {
	color:#616161;
}


#navigation > li.active {
	background-image: linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 42%);
	background-image: linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 72%);
	background-image: -o-linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 72%);
	background-image: -moz-linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 72%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 72%);
	background-image: -ms-linear-gradient(bottom, rgb(0,185,226) 28%, rgb(3,196,235) 72%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.28, rgb(0,185,226)),
		color-stop(0.72, rgb(3,196,235))
	);
	
	border-left:1px solid #9ee8f7;
}

#navigation > li.active a {
	color:#FFF;
}

#navigation > li > ul {
	position:absolute;
	width:100%;
	height:30px;
	border:1px solid #bbbbbb;
	display:none;
	top:39px;
	background-color:rgb(0,185,226);
	border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	left: -1px;
	text-align:left;
}

#navigation > li > ul > li {
	display: inline;
    float: left;
    padding-top: 5px;
    text-align: center;
    width: 25%;
}


#navigation > li > ul > li:hover a,
#navigation > li > ul > li.active a
{
	background-color:rgba(0,110,183, 0.5);
}

#navigation > li > ul > li a {
	text-decoration:none;
	padding: 0 15px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#navigation > li.active > ul {
	display:block;
}






/**
 * Previous/next trixing
 */


#previous{
	float:left;
	display: none;
}

#next{
	float:right;
	display: none;
}

#previous.active, #next.active{
	font-weight:bold;
	cursor: pointer;
	display: block;
}


/**
 * Raped from the jquery stylesheet
 */
.ui-progressbar {
	height:11px; text-align: left;
	border: 1px solid #D9D9D9;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
}

.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: -1px;
    background: none repeat scroll 0 0 #E1ECBB;
    border: 1px solid #D9D9D9;
    color: #222222;
    font-weight: bold;
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    text-align: left;
}



.chuipasla{
	display: none;
}


#btn_connect4qs {
margin:-1px 0 0 0;
}

.btn {
width:107px;
height:33px;
float:left;
}

#btn_easy{
background:url(../img/btn_easy-off.png) no-repeat;
}

#btn_easy.active {
background:url(../img/btn_easy-on.png) no-repeat;
}

#btn_easy.active:hover {
background:url(../img/btn_easy-on.png) no-repeat;
}

#btn_easy:hover {
background:url(../img/btn_easy-roll.png) no-repeat;
}


#btn_near {
background:url(../img/btn_near-off.png) no-repeat;
}


#btn_near:hover {
background:url(../img/btn_near-roll.png) no-repeat;
}

#btn_near.active {
	background:url(../img/btn_near-on.png) no-repeat;
}

#btn_near.active:hover {
	background:url(../img/btn_near-on.png) no-repeat;
}

#ggmap {
float:right;background:#333333; width:430px; height:673px;
border:5px solid #00bae2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin:10px 0 0 0;
}

#list_badges {
list-style:none;
}

#list_checkins {
margin:10px 0 0 0;
}

.box_badge {
	width:380px;
	height:auto;
	background:#f9f9f9;
	border:1px solid #d9d9d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:15px 3px 10px 10px;
	margin:0 0 12px 0;
	height:100px;
	position:relative;
}

.box_badge:hover{
	cursor: pointer;
	background:#fdfdfd;
}

.box_badge_active {
	-moz-box-shadow: 0px 0px 3px 0px #9b9b9b;
	-webkit-box-shadow: 0px 0px 3px 0px #9b9b9b;
	-o-box-shadow: 0px 0px 3px 0px #9b9b9b;
	box-shadow: 0px 0px 3px 0px #9b9b9b;
}

/* Trixing */
.description_badge
{
	height: 72px;
	overflow: hidden;
}

.img_badge {
float:left;
width:57px;
height:57px;
margin:0 5px 0 0;
}

.cat_badge {
float:left;
width:32px;
height:60px;
margin:0 5px 0 0;
}

.titre_badge {
color:#006db7;
font-weight:bold;
font-size:16px;
margin:0 0 4px 0;
}

.titre_badge a{
text-decoration:none;
margin:0 0 4px 0;
}

.infos_badges {
font-size:14px;
width:300px;
}

.pastille {
background:url(../img/pastille.png) no-repeat;
width:42px;
height:42px;
color:#FFFFFF;
margin:0 0 4px 0;
}

.findit_badge a{
color:#555555;
font-weight:bold;
}

.findit_badge a:hover{
color:#0a91ec;
font-weight:bold;
}

.txt_pastille {
padding:12px 0 0 5px; font-weight:bold;}

.txt_hurry {
font-size:11px; color:#FF0000;
}

.pourcent_badge {
  position: absolute;
    right: 10px;
    top: -5px;
    width: 42px;
}

#box_stats {
background:#f9f9f9;
border:1px solid #d9d9d9;
margin:10px 0 30px 0;
padding:10px 10px 5px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-size:15px;
color:#a2a2a2;
}


/**
 * Header section
 */

#header {
	background:#eeeeee url(../img/bandeheader.png) repeat-x center top;
}

#header > div{
	width: 850px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 100px;
	height:20px;
	padding-top: 15px;
}

/* Main title */
#header > div div {
	float: left;
	background: url(../img/logo.png) no-repeat left top;
	position: relative;
	width: 30%;
	height: 82px;
	top: -90px;
	margin-bottom: -150px;
/*	padding-top: 20px;*/
}

#header > div h1 {
	padding-top: 25px;
	font-weight:bold;
	text-align: right;
	height: 37px;
/*	position: relative;
	top: -30px;*/
}

/* Login p */
#header > div p {
	background:#f9f9f9;
	border:1px solid #d9d9d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#006db7;
	font-size:14px;
	text-align:right;
	height:20px;

/*	position: relative;
	top: 60px;*/
	padding:5px 5px 5px 5px;
}


/**
 * Main content
 */

#content {
	margin:-24px 0 0 0;
	width:850px;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Footer section
 */

#footer {
	margin-top: 20px;
	clear: both;

	min-width: 790px;
	height:180px;
	width: 100%;

	padding-top: 20px;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	background: #00bae2;
}

#footer > div{
	width: 850px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}

#footer #btn_discover{
	background:url(../img/btn_discover-off.png) no-repeat;
	float:left;
	width:125px;
	height:31px;
}

#footer #btn_contact{
	background:url(../img/btn_contact-off.png) no-repeat;
	margin-left:5px;
	float:left;
	width:100px;
	height:31px
}

#footer #btn_discover:hover{ 
	background:url(../img/btn_discover-roll.png) no-repeat;
}

#footer #btn_contact:hover{ 
	background:url(../img/btn_contact-roll.png) no-repeat;
}

#footer > div div:first-child{
	float:left;
}

#footer > div div:last-child{
	float:right;
}















#icosoul {
list-style-image:url(../img/ico_soul.png);
list-style-position:inside;
text-align:left;
padding:-20px 0 0 0;
height:21px;
vertical-align:top;
}

#icocoeur {
list-style-image:url(../img/ico_coeur.png);
list-style-position:inside;
text-align:left;
padding:-20px 0 0 0;
height:21px;
vertical-align:top;
}

#icovoiture {
list-style-image:url(../img/ico_voiture.png);
list-style-position:inside;
text-align:left;
padding:-20px 0 0 0;
height:21px;
vertical-align:top;
}
